<a href="https://colab.research.google.com/github/mangleshpatidar/DO101-apps/blob/master/SMAIASS1Q3B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [76]:
data = pd.read_csv('credit.csv')

print(data.head())

X = data[[ 'Income', 'Rating', 'Cards', 'Age', 'Education']].values

y = data['Balance'].values

    Income  Limit  Rating  Cards  Age  Education  Balance
0   14.891   3606     283      2   34         11      333
1  106.025   6645     483      3   82         15      903
2  104.593   7075     514      4   71         11      580
3  148.924   9504     681      3   36         11      964
4   55.882   4897     357      2   68         16      331

In [77]:
X

array([[ 14.891, 283.   ,   2.   ,  34.   ,  11.   ],
       [106.025, 483.   ,   3.   ,  82.   ,  15.   ],
       [104.593, 514.   ,   4.   ,  71.   ,  11.   ],
       ...,
       [ 57.872, 321.   ,   5.   ,  67.   ,  12.   ],
       [ 37.728, 192.   ,   1.   ,  44.   ,  13.   ],
       [ 18.701, 415.   ,   5.   ,  64.   ,   7.   ]])

In [78]:
y

array([ 333,  903,  580,  964,  331, 1151,  203,  872,  279, 1350, 1407,
          0,  204, 1081,  148,    0,    0,  368,  891, 1048,   89,  968,
          0,  411,    0,  671,  654,  467, 1809,  915,  863,    0,  526,
          0,    0,  419,  762, 1093,  531,  344,   50, 1155,  385,  976,
       1120,  997, 1241,  797,    0,  902,  654,  211,  607,  957,    0,
          0,  379,  133,  333,  531,  631,  108,    0,  133,    0,  602,
       1388,  889,  822, 1084,  357, 1103,  663,  601,  945,   29,  532,
        145,  391,    0,  162,   99,  503,    0,    0, 1779,  815,    0,
        579, 1176, 1023,  812,    0,  937,    0,    0, 1380,  155,  375,
       1311,  298,  431, 1587, 1050,  745,  210,    0,    0,  227,  297,
         47,    0, 1046,  768,  271,  510,    0, 1341,    0,    0,    0,
        454,  904,    0,    0,    0, 1404,    0, 1259,  255,  868,    0,
        912, 1018,  835,    8,   75,  187,    0, 1597, 1425,  605,  669,
        710,   68,  642,  805,    0,    0,    0,  581,  534,  156,    0,
          0,    0,  429, 1020,  653,    0,  836,    0, 1086,    0,  548,
        570,    0,    0,    0, 1099,    0,  283,  108,  724, 1573,    0,
          0,  384,  453, 1237,  423,  516,  789,    0, 1448,  450,  188,
          0,  930,  126,  538, 1687,  336, 1426,    0,  802,  749,   69,
          0,  571,  829, 1048,    0, 1411,  456,  638,    0, 1216,  230,
        732,   95,  799,  308,  637,  681,  246,   52,  955,  195,  653,
       1246, 1230, 1549,  573,  701, 1075, 1032,  482,  156, 1058,  661,
        657,  689,    0, 1329,  191,  489,  443,   52,  163,  148,    0,
         16,  856,    0,    0,  199,    0,    0,   98,    0,  132, 1355,
        218, 1048,  118,    0,    0,    0, 1092,  345, 1050,  465,  133,
        651,  549,   15,  942,    0,  772,  136,  436,  728, 1255,  967,
        529,  209,  531,  250,  269,  541,    0, 1298,  890,    0,    0,
          0,    0,  863,  485,  159,  309,  481, 1677,    0,    0,  293,
        188,    0,  711,  580,  172,  295,  414,  905,    0,   70,    0,
        681,  885, 1036,  844,  823,  843, 1140,  463, 1142,  136,    0,
          0,    5,   81,  265, 1999,  415,  732, 1361,  984,  121,  846,
       1054,  474,  380,  182,  594,  194,  926,    0,  606, 1107,  320,
        426,  204,  410,  633,    0,  907, 1192,    0,  503,    0,  302,
        583,  425,  413, 1405,  962,    0,  347,  611,  712,  382,  710,
        578, 1243,  790, 1264,  216,  345, 1208,  992,    0,  840, 1003,
        588, 1000,  767,    0,  717,    0,  661,  849, 1352,  382,    0,
        905,  371,    0, 1129,  806, 1393,  721,    0,    0,  734,  560,
        480,  138,    0,  966])

In [94]:
class MLR:
  def __init__(self):
    self.coef = None
    self.intercept=None
  def fit(self,X_train,y_train):
    X_train = np.insert(X_train,0,1,axis=1)

    betas=np.linalg.inv(np.dot(X_train.T,X_train)).dot(X_train.T).dot(y_train)
    self.intercept = betas[0]
    self.coef =betas[1:]

  def predict(self,X_test):
    y_pred = np.dot(X_test,self.coef) + self.intercept
    return y_pred

In [80]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [81]:
mlr=MLR()

In [82]:
mlr.fit(X_train,y_train)

In [83]:
X_train.shape

(320, 5)

In [84]:
y_train.shape

(320,)

In [85]:
X_test.shape

(80, 5)

In [86]:

y_pred=mlr.predict(X_test)

In [87]:
y_pred.shape

(80,)

In [89]:
mlr.coef

array([-7.56803953,  3.93258227,  4.51957773, -0.97760584,  2.15972987])

In [90]:
mlr.intercept

-518.3648649492288

In [92]:
mse = np.mean((y_test - y_pred) ** 2)
rmse = np.sqrt(mse)
r_squared = 1 - (np.sum((y_test - y_pred) ** 2) / np.sum((y_test - np.mean(y_test)) ** 2))

print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("R-squared (R^2) score:", r_squared)

Error metrics for the model with interaction term:
Mean Squared Error (MSE): 23045.682028574218
Root Mean Squared Error (RMSE): 151.8080433592839
R-squared (R^2) score: 0.8830610870112048

In [96]:


data['Rating_Age'] = data['Rating'] * data['Age']

X = data[['Income', 'Rating', 'Cards', 'Age', 'Education', 'Rating_Age']].values
y = data['Balance'].values
X_train1,X_test1,y_train1,y_test1 = train_test_split(X,y,test_size=0.2,random_state=2)

In [98]:
mlr1=MLR()
mlr1.fit(X_train1,y_train1)
y_pred1=mlr1.predict(X_test1)

In [99]:
mse1 = np.mean((y_test1 - y_pred1) ** 2)
rmse1 = np.sqrt(mse1)
r_squared1 = 1 - (np.sum((y_test1 - y_pred1) ** 2) / np.sum((y_test1 - np.mean(y_test1)) ** 2))

print("Mean Squared Error (MSE):", mse1)
print("Root Mean Squared Error (RMSE):", rmse1)
print("R-squared (R^2) score:", r_squared1)

Mean Squared Error (MSE): 22926.183192536282
Root Mean Squared Error (RMSE): 151.4139464928389
R-squared (R^2) score: 0.8836674506663301